{{#each posts as |post|}}
{{#with post}}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-header"><a href="/posts/{{ id }}">{{user}}</a></h5>
            <div class="card-body">
                <p class="card-text">{{message}}</p>
                <h6>
                    {{#if createdAt}}
                        {{date createdAt}}
                    {{/if}}
                </h6>
                <form action="/tweets/{{ id }}/delete" method="post"><button type="submit" class="btn btn-primary">X</button></form>
            </div> 
        </div>
    </div>
</div>

{{/with}}
{{/each}}